.btn,
.btn-accent {
    width: auto;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    font-weight: bold;
    text-align: center;
    transition: background-color 0.3s ease;
}

.btn {
    background-color: #ffffff; /* Цвет фона */
    outline: 2px solid #14213d; /* Цвет компонента */
    outline-offset: -2px;
    color: #14213d; /* Цвет текста */
}

    .btn:hover {
        background-color: #fca311; /* Цвет акцента */
        color: #ffffff; /* Цвет текста */
    }

/* Кнопка справа */
.btn-accent {
    background-color: #fca311;
    color: #ffffff;
}

    .btn-accent:hover {
        background-color: #e58e0d; /* Более темный оттенок акцентного цвета */
    }

    /* Отключенные кнопки */
    .btn:disabled,
    .btn-accent:disabled {
        opacity: 0.5;
        cursor: unset;
        background-color: #ffffff; /* Оставить основной цвет фона для отключенной кнопки */
        color: #14213d; /* Основной цвет текста для отключенной кнопки */
    }

        .btn:disabled:hover,
        .btn-accent:disabled:hover {
            background-color: #ffffff; /* Без изменений при наведении на отключенную кнопку */
            color: #14213d; /* Цвет текста не меняется */
        }

.accordion {
    border-radius: 8px;
    padding: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color:white;
}
    .accordion > .p-accordionpanel {
        border: unset;
        border-bottom: 1px solid gray;
        padding: 7px 0px 7px 0px;
    }

    .accordion> .p-accordionpanel:last-child{
        border-bottom:unset;
    }

    .accordion > .p-accordionpanel > .p-accordionheader {
        border: unset;
        transition: .5s;
    }
        .accordion > .p-accordionpanel > .p-accordionheader:hover {
            background-color: rgba(252, 163, 17,.5)
        }
    .accordion > .p-accordionpanel > .p-accordioncontent{
    }
    .accordion > .p-accordionpanel > .p-accordioncontent > .p-accordioncontent-content{
        border: unset;
    }


.filter-panel {
    width: 14rem;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ui-checkbox {
    font-size: 14px;
    padding: 6px 0px 6px 15px;
    transition: .3s;
    cursor: pointer;
    display: block;
}

.ui-ckeckbox-group {
    max-height: 280px;
    border-radius: 6px;
    margin: 1px;
    overflow-y: auto;
    overflow-x: hidden;
    transition: .5s;
}

    .ui-ckeckbox-group:hover {
        background-color: rgba(252, 163, 17,.5)
    }

.ui-input-search {
    margin: 5px 15px 8px;
    background: white;
    border-radius: 8px;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    position: relative;
    transition: background .3s;
}

.ui-input-search-input {
    background: transparent;
    border: unset;
    border-radius: 8px;
    height: 34px;
    outline: 1px solid gray;
    padding: 0px 40px 0px 12px;
    transition: background .3s;
    width: 100%;
}

.main-start-page {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.accordion-filter {
    width: 13rem;
    min-width: 10rem;
    border-radius: 8px;
}

:deep(.p-accordion-header:hover) {
    background-color: #fca311 !important;
    transition: background-color 0.3s ease;
}

:deep(.p-accordion-header:hover .p-accordion-header-text) {
    color: white !important;
    transition: color 0.3s ease;
}

.price-filter {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px;
}

.price-input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    -moz-appearance: textfield;
    outline: none;
    height: 34px;
}

    .price-input::-webkit-outer-spin-button,
    .price-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }